build
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
/.changelog
*.log

# NPM
node_modules
.npm
npm-debug.log*

# Yarn
yarn-debug.log*
yarn-error.log*
yarn.lock

# IDE
.idea
.vscode

# Mac OS / Linux
._*
*~
.DS_Store
.directory
